.contact-card{
    /* #ffccdd */
    background-color: white;
    width: 350px;
    padding: 5px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px rgb(191, 190, 190);
    font-family: roboto;
    position: relative;
}

.contact-name{
    font-size: 18px;
}

.m-5{
    margin: 5px;
}

.icon-delete-contact{
    position: absolute;
    bottom: 5px ;
    right: 10px;
    cursor: pointer;
    box-shadow: 0 0 2px grey;
    padding: 3px;
    border-radius: 50%;
}

.icon-edit-contact{
    position: absolute;
    bottom: 5px ;
    right: 50px;
    cursor: pointer;
    box-shadow: 0 0 2px grey;
    padding: 3px;
    border-radius: 50%;
}